/*@import url(fontawesome-all.min.css);*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic");

/*
	Telemetry by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #ffffff;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #ffffff;
		color: #5a5a5a;
	}

	body, input, select, textarea {
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.5;
		letter-spacing: 0.04em;
		margin: 0 0 1.5em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3.25em;
		line-height: 1.3;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.2em;
		font-weight: 400;
	}

	h4 {
		font-size: 1em;
		font-weight: 400;
	}

	h5 {
		font-size: 1em;
		font-weight: 400;
	}

	h6 {
		font-size: 1em;
		font-weight: 400;
	}

	@media screen and (max-width: 1280px) {

		h1 {
			font-size: 2.5em;
			line-height: 1.5;
		}

		h2 {
			font-size: 1.75em;
		}

		h3 {
			font-size: 1em;
		}

		h4 {
			font-size: 1em;
		}

	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 4px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #333333;
	}

	a {
		color: #075F65;
	}

	strong, b {
		color: #333333;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #333333;
	}

	blockquote {
		border-left-color: rgba(144, 144, 144, 0.25);
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

	hr {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-0 {
			margin-top: 0;
			margin-left: 0em;
		}

			.row.gtr-0 > * {
				padding: 0 0 0 0em;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0em;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0em;
				}

		.row.gtr-25 {
			margin-top: 0;
			margin-left: -0.5em;
		}

			.row.gtr-25 > * {
				padding: 0 0 0 0.5em;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -0.5em;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 0.5em;
				}

		.row.gtr-50 {
			margin-top: 0;
			margin-left: -1em;
		}

			.row.gtr-50 > * {
				padding: 0 0 0 1em;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -1em;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 1em;
				}

		.row {
			margin-top: 0;
			margin-left: -2em;
		}

			.row > * {
				padding: 0 0 0 2em;
			}

			.row.gtr-uniform {
				margin-top: -2em;
			}

				.row.gtr-uniform > * {
					padding-top: 2em;
				}

		.row.gtr-150 {
			margin-top: 0;
			margin-left: -3em;
		}

			.row.gtr-150 > * {
				padding: 0 0 0 3em;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -3em;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 3em;
				}

		.row.gtr-200 {
			margin-top: 0;
			margin-left: -4em;
		}

			.row.gtr-200 > * {
				padding: 0 0 0 4em;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -4em;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 4em;
				}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.33333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row > .col-2-xlarge {
					width: 16.66667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.33333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row > .col-5-xlarge {
					width: 41.66667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.33333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row > .col-8-xlarge {
					width: 66.66667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.33333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row > .col-11-xlarge {
					width: 91.66667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.5em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.5em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.5em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.5em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -1em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 1em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -1em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 1em;
						}

				.row {
					margin-top: 0;
					margin-left: -2em;
				}

					.row > * {
						padding: 0 0 0 2em;
					}

					.row.gtr-uniform {
						margin-top: -2em;
					}

						.row.gtr-uniform > * {
							padding-top: 2em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -3em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 3em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -3em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 3em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -4em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 4em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -4em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 4em;
						}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-large {
					order: -1;
				}

				.row > .col-1-large {
					width: 8.33333%;
				}

				.row > .off-1-large {
					margin-left: 8.33333%;
				}

				.row > .col-2-large {
					width: 16.66667%;
				}

				.row > .off-2-large {
					margin-left: 16.66667%;
				}

				.row > .col-3-large {
					width: 25%;
				}

				.row > .off-3-large {
					margin-left: 25%;
				}

				.row > .col-4-large {
					width: 33.33333%;
				}

				.row > .off-4-large {
					margin-left: 33.33333%;
				}

				.row > .col-5-large {
					width: 41.66667%;
				}

				.row > .off-5-large {
					margin-left: 41.66667%;
				}

				.row > .col-6-large {
					width: 50%;
				}

				.row > .off-6-large {
					margin-left: 50%;
				}

				.row > .col-7-large {
					width: 58.33333%;
				}

				.row > .off-7-large {
					margin-left: 58.33333%;
				}

				.row > .col-8-large {
					width: 66.66667%;
				}

				.row > .off-8-large {
					margin-left: 66.66667%;
				}

				.row > .col-9-large {
					width: 75%;
				}

				.row > .off-9-large {
					margin-left: 75%;
				}

				.row > .col-10-large {
					width: 83.33333%;
				}

				.row > .off-10-large {
					margin-left: 83.33333%;
				}

				.row > .col-11-large {
					width: 91.66667%;
				}

				.row > .off-11-large {
					margin-left: 91.66667%;
				}

				.row > .col-12-large {
					width: 100%;
				}

				.row > .off-12-large {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.75em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.75em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.75em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.75em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.5em;
				}

					.row > * {
						padding: 0 0 0 1.5em;
					}

					.row.gtr-uniform {
						margin-top: -1.5em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.5em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.25em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.25em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.25em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.25em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3em;
						}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.75em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.75em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.75em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.75em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.5em;
				}

					.row > * {
						padding: 0 0 0 1.5em;
					}

					.row.gtr-uniform {
						margin-top: -1.5em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.5em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.25em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.25em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.25em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.25em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3em;
						}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-small {
					order: -1;
				}

				.row > .col-1-small {
					width: 8.33333%;
				}

				.row > .off-1-small {
					margin-left: 8.33333%;
				}

				.row > .col-2-small {
					width: 16.66667%;
				}

				.row > .off-2-small {
					margin-left: 16.66667%;
				}

				.row > .col-3-small {
					width: 25%;
				}

				.row > .off-3-small {
					margin-left: 25%;
				}

				.row > .col-4-small {
					width: 33.33333%;
				}

				.row > .off-4-small {
					margin-left: 33.33333%;
				}

				.row > .col-5-small {
					width: 41.66667%;
				}

				.row > .off-5-small {
					margin-left: 41.66667%;
				}

				.row > .col-6-small {
					width: 50%;
				}

				.row > .off-6-small {
					margin-left: 50%;
				}

				.row > .col-7-small {
					width: 58.33333%;
				}

				.row > .off-7-small {
					margin-left: 58.33333%;
				}

				.row > .col-8-small {
					width: 66.66667%;
				}

				.row > .off-8-small {
					margin-left: 66.66667%;
				}

				.row > .col-9-small {
					width: 75%;
				}

				.row > .off-9-small {
					margin-left: 75%;
				}

				.row > .col-10-small {
					width: 83.33333%;
				}

				.row > .off-10-small {
					margin-left: 83.33333%;
				}

				.row > .col-11-small {
					width: 91.66667%;
				}

				.row > .off-11-small {
					margin-left: 91.66667%;
				}

				.row > .col-12-small {
					width: 100%;
				}

				.row > .off-12-small {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.3125em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.3125em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.3125em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.3125em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.625em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.625em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.625em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.625em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.25em;
				}

					.row > * {
						padding: 0 0 0 1.25em;
					}

					.row.gtr-uniform {
						margin-top: -1.25em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.25em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -1.875em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 1.875em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -1.875em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 1.875em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -2.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 2.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -2.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 2.5em;
						}

		}

		@media screen and (max-width: 480px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xsmall {
					order: -1;
				}

				.row > .col-1-xsmall {
					width: 8.33333%;
				}

				.row > .off-1-xsmall {
					margin-left: 8.33333%;
				}

				.row > .col-2-xsmall {
					width: 16.66667%;
				}

				.row > .off-2-xsmall {
					margin-left: 16.66667%;
				}

				.row > .col-3-xsmall {
					width: 25%;
				}

				.row > .off-3-xsmall {
					margin-left: 25%;
				}

				.row > .col-4-xsmall {
					width: 33.33333%;
				}

				.row > .off-4-xsmall {
					margin-left: 33.33333%;
				}

				.row > .col-5-xsmall {
					width: 41.66667%;
				}

				.row > .off-5-xsmall {
					margin-left: 41.66667%;
				}

				.row > .col-6-xsmall {
					width: 50%;
				}

				.row > .off-6-xsmall {
					margin-left: 50%;
				}

				.row > .col-7-xsmall {
					width: 58.33333%;
				}

				.row > .off-7-xsmall {
					margin-left: 58.33333%;
				}

				.row > .col-8-xsmall {
					width: 66.66667%;
				}

				.row > .off-8-xsmall {
					margin-left: 66.66667%;
				}

				.row > .col-9-xsmall {
					width: 75%;
				}

				.row > .off-9-xsmall {
					margin-left: 75%;
				}

				.row > .col-10-xsmall {
					width: 83.33333%;
				}

				.row > .off-10-xsmall {
					margin-left: 83.33333%;
				}

				.row > .col-11-xsmall {
					width: 91.66667%;
				}

				.row > .off-11-xsmall {
					margin-left: 91.66667%;
				}

				.row > .col-12-xsmall {
					width: 100%;
				}

				.row > .off-12-xsmall {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.3125em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.3125em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.3125em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.3125em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.625em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.625em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.625em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.625em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.25em;
				}

					.row > * {
						padding: 0 0 0 1.25em;
					}

					.row.gtr-uniform {
						margin-top: -1.25em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.25em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -1.875em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 1.875em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -1.875em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 1.875em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -2.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 2.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -2.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 2.5em;
						}

		}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Split */

	.split {
		-moz-align-items: -moz-flex-start;
		-webkit-align-items: -webkit-flex-start;
		-ms-align-items: -ms-flex-start;
		align-items: flex-start;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin-left: -6em;
		margin-bottom: 2em;
	}

		.split > * {
			margin-left: 6em !important;
			width: 50%;
			-ms-flex: 1 1 auto;
		}

			.split > * > :last-child {
				margin-bottom: 0;
			}

		.split.centered {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
		}

		.split.style1 > *:nth-child(2n - 1) {
			width: 33%;
		}

		.split.style1 > *:nth-child(2n) {
			width: 67%;
		}

		@media screen and (max-width: 1280px) {

			.split {
				margin-left: -3.75em;
			}

				.split > * {
					margin-left: 3.75em !important;
				}

				.split.centered {
					-moz-align-items: -moz-flex-start;
					-webkit-align-items: -webkit-flex-start;
					-ms-align-items: -ms-flex-start;
					align-items: flex-start;
				}

		}

		@media screen and (max-width: 980px) {

			.split {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
			}

				.split > * {
					margin-left: 0 !important;
					margin-top: 3.75em !important;
					width: 100% !important;
				}

					.split > *:first-child {
						margin-top: 0 !important;
					}

				.split.reversed {
					-moz-flex-direction: column-reverse;
					-webkit-flex-direction: column-reverse;
					-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
				}

					.split.reversed > * {
						margin-bottom: 3.75em !important;
						margin-top: 0 !important;
					}

						.split.reversed > *:first-child {
							margin-bottom: 0 !important;
						}

		}

		@media screen and (max-width: 736px) {

			.split > * {
				margin-top: 3em !important;
			}

			.split.reversed > * {
				margin-bottom: 3em !important;
			}

		}

/* Features */

	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.features > article {
			border-style: solid;
			border-top-width: 1px;
			border-right-width: 0;
			border-bottom-width: 0;
			border-left-width: 1px;
			padding: 2.25em 0;
			position: relative;
		}

			.features > article > :last-child {
				margin-bottom: 0;
			}

			.features > article:before {
				position: absolute;
				font-size: 1.875rem;
				line-height: inherit;
				top: 0.975em;
			}

			.features > article:nth-child(1), .features > article:nth-child(2) {
				border-top-width: 0;
			}

			.features > article:nth-child(2n -1) {
				border-left-width: 0;
				padding-left: 3.5em;
				padding-right: 3em;
				width: 50%;
			}

				.features > article:nth-child(2n -1):before {
					left: 0;
				}

			.features > article:nth-child(2n) {
				padding-left: 6.5em;
				padding-right: 0;
				width: 50%;
			}

				.features > article:nth-child(2n):before {
					left: 1.5em;
				}

			.features > article h3 {
				margin: 0 0 0.5em 0;
			}

		@media screen and (max-width: 1280px) {

			.features > article {
				padding: 1.6875em 0;
			}

				.features > article:before {
					font-size: 1.5rem;
					top: 0.69231em;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 2.75em;
					padding-right: 2.25em;
				}

				.features > article:nth-child(2n) {
					padding-left: 5em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.38462em;
					}

		}

		@media screen and (max-width: 980px) {

			.features > article {
				padding: 3em 0;
			}

				.features > article:before {
					font-size: 1.5rem;
					top: 1.52308em;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 3em;
					padding-right: 3em;
				}

				.features > article:nth-child(2n) {
					padding-left: 6em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.84615em;
					}

		}

		@media screen and (max-width: 480px) {

			.features > article {
				border-left-width: 0;
				padding: 2.25em 0;
			}

				.features > article:before {
					top: 0.96923em;
				}

				.features > article:nth-child(1) {
					border-top-width: 0;
				}

				.features > article:nth-last-child(1) {
					padding-bottom: 0;
				}

				.features > article:nth-child(2) {
					border-top-width: 1px;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n -1):before {
						left: 0;
					}

				.features > article:nth-child(2n) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n):before {
						left: 0;
					}

		}

	.features > article {
		border-color: rgba(144, 144, 144, 0.25);
	}

		.features > article:before, .features > article h3 {
			color: #075F65;
		}

/* Stats */

	.stats {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		margin: 0 0 2em 0;
	}

		.stats > article {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			border-style: solid;
			border-right-width: 1px;
			padding: 0 3em;
		}

			.stats > article:nth-last-child(1) {
				border-right-width: 0;
			}

			.stats > article h3 span {
				display: block;
				font-size: 2em;
				font-weight: 300;
				line-height: 1;
				margin-bottom: 0.25em;
			}

			.stats > article > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 1280px) {

			.stats > article {
				padding: 0 1.5em;
			}

		}

		@media screen and (max-width: 980px) {

			.stats {
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}

				.stats > article {
					border-top-width: 1px;
					padding: 3em;
					width: 50%;
				}

					.stats > article:nth-child(1), .stats > article:nth-child(2) {
						border-top-width: 0;
					}

					.stats > article:nth-last-child(2n - 1) {
						border-right-width: 0;
					}

		}

		@media screen and (max-width: 480px) {

			.stats {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.stats > article {
					border-right: 0;
					padding: 3em 0;
					width: 100%;
				}

					.stats > article:nth-child(1) {
						padding-top: 1.5em;
					}

					.stats > article:nth-child(2) {
						border-top-width: 1px;
					}

					.stats > article:nth-last-child(1) {
						padding-bottom: 1.5em;
					}

		}

	.stats > article {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Tabs */

	.tabs {
		margin: 0 0 2em 0;
	}

		.tabs .titles {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			list-style-type: none;
			margin-bottom: -1px;
			padding-left: 0;
		}

			.tabs .titles li {
				-moz-transition-property: color, background-color;
				-webkit-transition-property: color, background-color;
				-ms-transition-property: color, background-color;
				transition-property: color, background-color;
				-moz-transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-ms-transition-duration: 0.2s;
				transition-duration: 0.2s;
				border-style: solid;
				border-width: 1px 1px 0 0;
				display: inline-block;
				font-size: 1.2em;
				font-weight: 400;
				padding: 1em 3em;
			}

				.tabs .titles li:first-child {
					border-left-width: 1px;
				}

				.tabs .titles li.active {
					padding-top: 1.5em;
					border-left-width: 1px;
				}

				.tabs .titles li + .active {
					margin-left: -1px;
				}

		.tabs .panels {
			padding: 3.75em 3.75em 1.75em 3.75em ;
			border-style: solid;
			border-width: 1px;
		}

		.tabs .panel {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			opacity: 0;
		}

			.tabs .panel .image {
				margin-bottom: 0;
			}

				.tabs .panel .image img {
					width: 100%;
				}

			.tabs .panel.active {
				opacity: 1;
			}

		@media screen and (max-width: 1280px) {

			.tabs .titles li {
				font-size: 1em;
			}

		}

		@media screen and (max-width: 736px) {

			.tabs .panels {
				padding: 2em 2em 0.1em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			.tabs .titles li {
				font-size: 0.8em;
				padding: 1em;
			}

				.tabs .titles li.active {
					padding-top: 1em;
				}

			.tabs .panels {
				padding: 2em 2em 0.1em 2em ;
			}

		}

		@media screen and (orientation: portrait) {

			.tabs .titles {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
			}

				.tabs .titles li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					text-align: center;
				}

					.tabs .titles li.active {
						padding-top: 1em;
					}

		}

	.tabs .titles li {
		border-color: rgba(144, 144, 144, 0.25);
		background-color: rgba(144, 144, 144, 0.075);
	}

		.tabs .titles li.active {
			background-color: #ffffff;
			border-bottom-color: #ffffff;
			color: #075F65;
		}

	.tabs .panels {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Quotes */

	.quotes {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background-color: #075F65;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
	}

		.quotes input, .quotes select, .quotes textarea {
			color: #ffffff;
		}

		.quotes a {
			color: #ffffff;
		}

		.quotes strong, .quotes b {
			color: #ffffff;
		}

		.quotes h1, .quotes h2, .quotes h3, .quotes h4, .quotes h5, .quotes h6 {
			color: #ffffff;
		}

		.quotes blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		.quotes code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		.quotes hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		.quotes > article {
			padding: 8em 0 6em 0 ;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			width: 50%;
		}

			.quotes > article .author {
				margin: 0 0 2em 0;
			}

				.quotes > article .author .name {
					color: #075F65;
					display: block;
					font-size: 1.2em;
					font-weight: 400;
					margin: 0 0 0.5em 0;
				}

				.quotes > article .author .title {
					display: block;
				}

			.quotes > article:nth-child(odd) {
				padding-left: calc(50vw - 40em);
				padding-right: 3em;
			}

			.quotes > article:nth-child(even) {
				padding-left: 3em;
				padding-right: calc(50vw - 40em);
			}

			.quotes > article:before {
				background-color: #075F65;
				border-radius: 100%;
				display: inline-block;
				font-size: 2em;
				height: 2.4em;
				line-height: 2.4em;
				margin-bottom: 0.7em;
				position: relative;
				text-align: center;
				width: 2.4em;
				z-index: 1;
			}

			.quotes > article:after {
				-moz-transition: opacity 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out;
				transition: opacity 1s ease-in-out;
				-moz-transition-delay: 0.75s;
				-webkit-transition-delay: 0.75s;
				-ms-transition-delay: 0.75s;
				transition-delay: 0.75s;
				background: #202020;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.25;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.quotes > article > * {
				position: relative;
				z-index: 1;
			}

		@media screen and (max-width: 1280px) {

			.quotes > article:nth-child(odd) {
				padding-left: 3em;
				padding-right: 3em;
			}

			.quotes > article:nth-child(even) {
				padding-left: 3em;
				padding-right: 3em;
			}

		}

		@media screen and (max-width: 980px) {

			.quotes > article {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.quotes > article {
				padding: 4em 0 2em 0 ;
			}

		}

/* Ratungs */

	.ratings {
		margin: 0 0 2em 0;
	}

		.ratings > article {
			margin-bottom: 2.5em;
		}

			.ratings > article:last-child {
				margin-bottom: 0;
			}

		.ratings .progress {
			border-style: solid;
			border-top-width: 1px;
			font-size: 0.9em;
			padding-top: 0.25em;
			position: relative;
		}

			.ratings .progress:before {
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				top: -1px;
			}

			.ratings .progress[data-progress="0"]:before {
				width: 0%;
			}

			.ratings .progress[data-progress="5"]:before {
				width: 5%;
			}

			.ratings .progress[data-progress="10"]:before {
				width: 10%;
			}

			.ratings .progress[data-progress="15"]:before {
				width: 15%;
			}

			.ratings .progress[data-progress="20"]:before {
				width: 20%;
			}

			.ratings .progress[data-progress="25"]:before {
				width: 25%;
			}

			.ratings .progress[data-progress="30"]:before {
				width: 30%;
			}

			.ratings .progress[data-progress="35"]:before {
				width: 35%;
			}

			.ratings .progress[data-progress="40"]:before {
				width: 40%;
			}

			.ratings .progress[data-progress="45"]:before {
				width: 45%;
			}

			.ratings .progress[data-progress="50"]:before {
				width: 50%;
			}

			.ratings .progress[data-progress="55"]:before {
				width: 55%;
			}

			.ratings .progress[data-progress="60"]:before {
				width: 60%;
			}

			.ratings .progress[data-progress="65"]:before {
				width: 65%;
			}

			.ratings .progress[data-progress="70"]:before {
				width: 70%;
			}

			.ratings .progress[data-progress="75"]:before {
				width: 75%;
			}

			.ratings .progress[data-progress="80"]:before {
				width: 80%;
			}

			.ratings .progress[data-progress="85"]:before {
				width: 85%;
			}

			.ratings .progress[data-progress="90"]:before {
				width: 90%;
			}

			.ratings .progress[data-progress="95"]:before {
				width: 95%;
			}

			.ratings .progress[data-progress="100"]:before {
				width: 100%;
			}

		@media screen and (max-width: 736px) {

			.ratings > article {
				margin-bottom: 1.5em;
			}

		}

	.progress {
		border-color: rgba(144, 144, 144, 0.25);
		color: #075F65;
	}

		.progress:before {
			background-color: currentColor;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.9em;
		font-weight: 400;
		height: 3.5em;
		letter-spacing: 0.05em;
		line-height: 3.5em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.7em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 1.1em;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 15em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px #5a5a5a;
		color: #333333 !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(144, 144, 144, 0.075);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #aaaaaa;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			box-shadow: none;
			background-color: #075F65;
			color: #ffffff !important;
		}

			input[type="submit"].primary.icon:before,
			input[type="reset"].primary.icon:before,
			input[type="button"].primary.icon:before,
			button.primary.icon:before,
			.button.primary.icon:before {
				color: #ffffff !important;
			}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #7fbf9f;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #5daf85;
			}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: calc(100% + 3em);
			margin: -1.5em 0 2em -1.5em;
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5em 0 0 1.5em;
				width: calc(100% - 1.5em);
			}

				form > .fields > .field.half {
					width: calc(50% - 0.75em);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.5em);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.375em);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				width: calc(100% + 3em);
				margin: -1.5em 0 2em -1.5em;
			}

				form > .fields > .field {
					padding: 1.5em 0 0 1.5em;
					width: calc(100% - 1.5em);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5em);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5em);
					}

		}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	select {
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: 3.5em;
		padding-right: 3.5em;
		text-overflow: ellipsis;
	}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 3.5em;
	}

	textarea {
		padding: 0.75em 1em;
		resize: vertical;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.85em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px;
				content: '';
				display: inline-block;
				font-size: 0.8em;
				height: 2.625em;
				left: 0;
				line-height: 2.625em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 2.625em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	label {
		color: #333333;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background-color: transparent;
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #075F65;
			box-shadow: 0 0 0 1px #075F65;
		}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
	}

		select option {
			color: #333333;
			background: #ffffff;
		}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #5a5a5a;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #075F65;
		border-color: #075F65;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #075F65;
		box-shadow: 0 0 0 1px #075F65;
	}

	::-webkit-input-placeholder {
		color: #aaaaaa !important;
	}

	:-moz-placeholder {
		color: #aaaaaa !important;
	}

	::-moz-placeholder {
		color: #aaaaaa !important;
	}

	:-ms-input-placeholder {
		color: #aaaaaa !important;
	}

	.formerize-placeholder {
		color: #aaaaaa !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

/* LOGO */

img.test {
  max-height: 50%;
  max-width: 50%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
img.testsmall {
  max-height: 1em;
  position: relative;
  top: 0.2em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		margin: 0 0 2em 0;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 45%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

		@media screen and (max-width: 980px) {

			.image.fit.portrait img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				max-height: 30em;
			}

		}

		@media screen and (max-width: 736px) {

			.image.fit.portrait img {
				max-height: 20em;
			}

			.image.main {
				margin: 0 0 2em 0;
			}

		}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 400;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

	ul.alt li {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		margin-left: -1em;
		margin-top: -1em;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 1em 0 0 1em;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon:before {
				font-size: 1.25em;
			}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3em 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1em);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5em;
						}

		}

/* Icons (Bordered) */

	ul.icons-bordered {
		list-style: none;
		margin-left: -1em;
		margin-top: -1em;
		padding-left: 0;
	}

		ul.icons-bordered li {
			display: inline-block;
			padding: 1em 0 0 1em;
		}

			ul.icons-bordered li:last-child {
				padding-right: 0;
			}

			ul.icons-bordered li .icon {
				-moz-transition: background-color 0.2s ease-in-out;
				-webkit-transition: background-color 0.2s ease-in-out;
				-ms-transition: background-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out;
				border-radius: 4px;
				border-style: solid;
				border-width: 1px;
				display: block;
				font-size: 1.25em;
				height: 2.25em;
				line-height: 2.25em;
				text-align: center;
				width: 2.25em;
			}

	ul.icons-bordered .icon {
		border-color: #5a5a5a;
	}

		ul.icons-bordered .icon:hover {
			background-color: rgba(144, 144, 144, 0.075);
		}

		ul.icons-bordered .icon:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

/* Contact Icons */

	ul.contact-icons {
		list-style-type: none;
		padding: 0;
	}

		ul.contact-icons li {
			margin-bottom: 1.5em;
			min-height: 2.4em;
			padding-left: 2.25em;
		}

			ul.contact-icons li:before {
				font-size: 1.25em;
				left: 0;
				line-height: inherit;
				position: absolute;
				top: -0.1em;
			}

			ul.contact-icons li a {
				text-decoration: none;
			}

	ul.contact-icons li:before {
		color: #333333;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 2em 0;
	}

	header h1 + p {
		font-size: 1.5em;
		margin-top: -2.65em;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -2em;
	}

	header h3 + p {
		font-size: 1em;
		margin-top: -1.25em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.65em;
	}

	@media screen and (max-width: 1280px) {

		header h1 + p {
			font-size: 1.25em;
			margin-top: -2.5em;
		}

		header h2 + p {
			font-size: 1em;
			margin-top: -2em;
		}

	}

	@media screen and (max-width: 736px) {

		header h1 + p {
			font-size: 1.25em;
			margin-top: -1.65em;
		}

		header h2 + p {
			font-size: 1em;
			margin-top: -1.25em;
		}

	}

	header p {
		color: #aaaaaa;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: rgba(144, 144, 144, 0.25);
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #333333;
	}

	table thead {
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}

	table tfoot {
		border-top-color: rgba(144, 144, 144, 0.25);
	}

	table.alt tbody tr td {
		border-color: rgba(144, 144, 144, 0.25);
	}

/* Wrapper */

	.wrapper {
		padding: 7.5em 0 5.5em 0 ;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 80em;
			max-width: calc(100% - 6em);
		}

		.wrapper.style1 {
			background-color: #075F65;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #ffffff;
			}

			.wrapper.style1 a {
				color: #ffffff;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #ffffff;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
				color: #ffffff;
			}

			.wrapper.style1 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 input[type="submit"],
			.wrapper.style1 input[type="reset"],
			.wrapper.style1 input[type="button"],
			.wrapper.style1 button,
			.wrapper.style1 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
				color: #ffffff !important;
			}

				.wrapper.style1 input[type="submit"]:hover,
				.wrapper.style1 input[type="reset"]:hover,
				.wrapper.style1 input[type="button"]:hover,
				.wrapper.style1 button:hover,
				.wrapper.style1 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style1 input[type="submit"]:active,
				.wrapper.style1 input[type="reset"]:active,
				.wrapper.style1 input[type="button"]:active,
				.wrapper.style1 button:active,
				.wrapper.style1 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style1 input[type="submit"].icon:before,
				.wrapper.style1 input[type="reset"].icon:before,
				.wrapper.style1 input[type="button"].icon:before,
				.wrapper.style1 button.icon:before,
				.wrapper.style1 .button.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

				.wrapper.style1 input[type="submit"].primary,
				.wrapper.style1 input[type="reset"].primary,
				.wrapper.style1 input[type="button"].primary,
				.wrapper.style1 button.primary,
				.wrapper.style1 .button.primary {
					box-shadow: none;
					background-color: #ffffff;
					color: #075F65 !important;
				}

					.wrapper.style1 input[type="submit"].primary.icon:before,
					.wrapper.style1 input[type="reset"].primary.icon:before,
					.wrapper.style1 input[type="button"].primary.icon:before,
					.wrapper.style1 button.primary.icon:before,
					.wrapper.style1 .button.primary.icon:before {
						color: #075F65 !important;
					}

			.wrapper.style1 label {
				color: #ffffff;
			}

			.wrapper.style1 input[type="text"],
			.wrapper.style1 input[type="password"],
			.wrapper.style1 input[type="email"],
			.wrapper.style1 select,
			.wrapper.style1 textarea {
				background-color: transparent;
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 input[type="text"]:focus,
				.wrapper.style1 input[type="password"]:focus,
				.wrapper.style1 input[type="email"]:focus,
				.wrapper.style1 select:focus,
				.wrapper.style1 textarea:focus {
					border-color: #ffffff;
					box-shadow: 0 0 0 1px #ffffff;
				}

			.wrapper.style1 select {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
			}

				.wrapper.style1 select option {
					color: #ffffff;
					background: #075F65;
				}

			.wrapper.style1 input[type="checkbox"] + label,
			.wrapper.style1 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style1 input[type="checkbox"] + label:before,
				.wrapper.style1 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrapper.style1 input[type="checkbox"]:checked + label:before,
			.wrapper.style1 input[type="radio"]:checked + label:before {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #075F65;
			}

			.wrapper.style1 input[type="checkbox"]:focus + label:before,
			.wrapper.style1 input[type="radio"]:focus + label:before {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

			.wrapper.style1 ::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 :-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 ::-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 :-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 .formerize-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style1 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 ul.icons-bordered .icon {
				border-color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style1 ul.icons-bordered .icon:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style1 ul.icons-bordered .icon:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

			.wrapper.style1 ul.contact-icons li:before {
				color: #ffffff;
			}

			.wrapper.style1 header p {
				color: rgba(255, 255, 255, 0.5);
			}

			.wrapper.style1 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style1 table th {
				color: #ffffff;
			}

			.wrapper.style1 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .features > article {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrapper.style1 .features > article:before, .wrapper.style1 .features > article h3 {
					color: #ffffff;
				}

			.wrapper.style1 .stats > article {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .tabs .titles li {
				border-color: rgba(255, 255, 255, 0.25);
				background-color: rgba(255, 255, 255, 0.075);
			}

				.wrapper.style1 .tabs .titles li.active {
					background-color: #075F65;
					border-bottom-color: #075F65;
					color: #ffffff;
				}

			.wrapper.style1 .tabs .panels {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style1 .progress {
				border-color: rgba(255, 255, 255, 0.25);
				color: #ffffff;
			}

				.wrapper.style1 .progress:before {
					background-color: currentColor;
				}

		.wrapper.style2 {
			background-color: #5a5a5a;
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #ffffff;
			}

			.wrapper.style2 a {
				color: #075F65;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #ffffff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #ffffff;
			}

			.wrapper.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 hr {
				border-bottom-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .box {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 input[type="submit"],
			.wrapper.style2 input[type="reset"],
			.wrapper.style2 input[type="button"],
			.wrapper.style2 button,
			.wrapper.style2 .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
				color: #ffffff !important;
			}

				.wrapper.style2 input[type="submit"]:hover,
				.wrapper.style2 input[type="reset"]:hover,
				.wrapper.style2 input[type="button"]:hover,
				.wrapper.style2 button:hover,
				.wrapper.style2 .button:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style2 input[type="submit"]:active,
				.wrapper.style2 input[type="reset"]:active,
				.wrapper.style2 input[type="button"]:active,
				.wrapper.style2 button:active,
				.wrapper.style2 .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				.wrapper.style2 input[type="submit"].icon:before,
				.wrapper.style2 input[type="reset"].icon:before,
				.wrapper.style2 input[type="button"].icon:before,
				.wrapper.style2 button.icon:before,
				.wrapper.style2 .button.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

				.wrapper.style2 input[type="submit"].primary,
				.wrapper.style2 input[type="reset"].primary,
				.wrapper.style2 input[type="button"].primary,
				.wrapper.style2 button.primary,
				.wrapper.style2 .button.primary {
					box-shadow: none;
					background-color: #075F65;
					color: #ffffff !important;
				}

					.wrapper.style2 input[type="submit"].primary.icon:before,
					.wrapper.style2 input[type="reset"].primary.icon:before,
					.wrapper.style2 input[type="button"].primary.icon:before,
					.wrapper.style2 button.primary.icon:before,
					.wrapper.style2 .button.primary.icon:before {
						color: #ffffff !important;
					}

					.wrapper.style2 input[type="submit"].primary:hover,
					.wrapper.style2 input[type="reset"].primary:hover,
					.wrapper.style2 input[type="button"].primary:hover,
					.wrapper.style2 button.primary:hover,
					.wrapper.style2 .button.primary:hover {
						background-color: #7fbf9f;
					}

					.wrapper.style2 input[type="submit"].primary:active,
					.wrapper.style2 input[type="reset"].primary:active,
					.wrapper.style2 input[type="button"].primary:active,
					.wrapper.style2 button.primary:active,
					.wrapper.style2 .button.primary:active {
						background-color: #5daf85;
					}

			.wrapper.style2 label {
				color: #ffffff;
			}

			.wrapper.style2 input[type="text"],
			.wrapper.style2 input[type="password"],
			.wrapper.style2 input[type="email"],
			.wrapper.style2 select,
			.wrapper.style2 textarea {
				background-color: transparent;
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 input[type="text"]:focus,
				.wrapper.style2 input[type="password"]:focus,
				.wrapper.style2 input[type="email"]:focus,
				.wrapper.style2 select:focus,
				.wrapper.style2 textarea:focus {
					border-color: #075F65;
					box-shadow: 0 0 0 1px #075F65;
				}

			.wrapper.style2 select {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.15)' /%3E%3C/svg%3E");
			}

				.wrapper.style2 select option {
					color: #ffffff;
					background: #5a5a5a;
				}

			.wrapper.style2 input[type="checkbox"] + label,
			.wrapper.style2 input[type="radio"] + label {
				color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style2 input[type="checkbox"] + label:before,
				.wrapper.style2 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.15);
				}

			.wrapper.style2 input[type="checkbox"]:checked + label:before,
			.wrapper.style2 input[type="radio"]:checked + label:before {
				background-color: #075F65;
				border-color: #075F65;
				color: #ffffff;
			}

			.wrapper.style2 input[type="checkbox"]:focus + label:before,
			.wrapper.style2 input[type="radio"]:focus + label:before {
				border-color: #075F65;
				box-shadow: 0 0 0 1px #075F65;
			}

			.wrapper.style2 ::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 :-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 ::-moz-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 :-ms-input-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 .formerize-placeholder {
				color: rgba(255, 255, 255, 0.5) !important;
			}

			.wrapper.style2 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 ul.icons-bordered .icon {
				border-color: rgba(255, 255, 255, 0.75);
			}

				.wrapper.style2 ul.icons-bordered .icon:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				.wrapper.style2 ul.icons-bordered .icon:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

			.wrapper.style2 ul.contact-icons li:before {
				color: #ffffff;
			}

			.wrapper.style2 header p {
				color: rgba(255, 255, 255, 0.5);
			}

			.wrapper.style2 table tbody tr {
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrapper.style2 table th {
				color: #ffffff;
			}

			.wrapper.style2 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .features > article {
				border-color: rgba(255, 255, 255, 0.15);
			}

				.wrapper.style2 .features > article:before, .wrapper.style2 .features > article h3 {
					color: #075F65;
				}

			.wrapper.style2 .stats > article {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .tabs .titles li {
				border-color: rgba(255, 255, 255, 0.15);
				background-color: rgba(255, 255, 255, 0.075);
			}

				.wrapper.style2 .tabs .titles li.active {
					background-color: #5a5a5a;
					border-bottom-color: #5a5a5a;
					color: #075F65;
				}

			.wrapper.style2 .tabs .panels {
				border-color: rgba(255, 255, 255, 0.15);
			}

			.wrapper.style2 .progress {
				border-color: rgba(255, 255, 255, 0.15);
				color: #075F65;
			}

				.wrapper.style2 .progress:before {
					background-color: currentColor;
				}

		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 5em 0 3em 0 ;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 0 1em 0 ;
			}

				.wrapper > .inner {
					max-width: calc(100% - 3em);
				}

		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		-ms-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-moz-transition-property: background-color padding;
		-webkit-transition-property: background-color padding;
		-ms-transition-property: background-color padding;
		transition-property: background-color padding;
		-moz-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		background: #054C50;
		color: #ffffff;
		left: 0;
		padding: 1em 1.5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header input[type="submit"],
		#header input[type="reset"],
		#header input[type="button"],
		#header button,
		#header .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#header input[type="submit"]:hover,
			#header input[type="reset"]:hover,
			#header input[type="button"]:hover,
			#header button:hover,
			#header .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#header input[type="submit"]:active,
			#header input[type="reset"]:active,
			#header input[type="button"]:active,
			#header button:active,
			#header .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#header input[type="submit"].icon:before,
			#header input[type="reset"].icon:before,
			#header input[type="button"].icon:before,
			#header button.icon:before,
			#header .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#header input[type="submit"].primary,
			#header input[type="reset"].primary,
			#header input[type="button"].primary,
			#header button.primary,
			#header .button.primary {
				box-shadow: none;
				background-color: #ffffff;
				color: #075F65 !important;
			}

				#header input[type="submit"].primary.icon:before,
				#header input[type="reset"].primary.icon:before,
				#header input[type="button"].primary.icon:before,
				#header button.primary.icon:before,
				#header .button.primary.icon:before {
					color: #075F65 !important;
				}

		#header a {
			color: inherit;
			text-decoration: none;
		}

			#header a:hover {
				color: #ffffff;
			}

		#header > .logo {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			cursor: default;
		}

			#header > .logo > * {
				display: inline-block;
				vertical-align: middle;
			}

			#header > .logo > a {
				font-size: 1.75em;
			}

			#header > .logo > span {
				border-left: solid 1px rgba(255, 255, 255, 0.75);
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

		#header > nav {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			margin-right: 0.5em;
		}

			#header > nav > ul {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				#header > nav > ul > li {
					margin-left: 2.25em;
					padding: 0;
				}

					#header > nav > ul > li > ul {
						display: none;
					}

			#header > nav a.icon:before {
				margin-right: 0.625em;
			}

			#header > nav a[href="#navPanel"] {
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				display: none;
				font-weight: 400;
				margin-left: 0.5em;
				padding: 0.5em 1.25em;
			}

				#header > nav a[href="#navPanel"]:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					text-transform: none !important;
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
				}

				#header > nav a[href="#navPanel"]:before {
					content: '\f0c9';
					line-height: inherit;
				}

			.dropotron {
				background-color: #ffffff;
				border-radius: 0.5em;
				box-shadow: 0 0.075em 0.125em 0.1em rgba(0, 0, 0, 0.075);
				list-style-type: none;
				margin: -0.5em 0 0 1px;
				min-width: 10em;
				padding: 0.5em 0;
			}

				.dropotron.level-0 {
					margin-top: 1.125em;
					margin-left: 0;
				}

					.dropotron.level-0:before {
						-moz-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						background-color: #ffffff;
						box-shadow: -2px -2px 3px -1px rgba(0, 0, 0, 0.1);
						content: '';
						height: 0.75em;
						position: absolute;
						right: 2em;
						top: -0.375em;
						width: 0.75em;
					}

				.dropotron li {
					border-top: solid 1px rgba(144, 144, 144, 0.25);
					padding: 0;
					position: relative;
				}

					.dropotron li:first-child {
						border-top: none;
					}

					.dropotron li.active > a {
						background-color: #075F65;
						color: #ffffff;
					}

				.dropotron a {
					color: #5a5a5a;
					padding: 0.5em 1em;
					text-decoration: none !important;
				}

					.dropotron a:active, .dropotron a:hover, .dropotron a:focus {
						background-color: #075F65;
						color: #ffffff;
					}

		#header > .navPanelToggle {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, top 0.2s ease-in-out, right 0.2s ease-in-out;
			text-decoration: none;
			display: none;
			height: 3em;
			line-height: 3em;
			margin-right: -0.5em;
			padding: 0 1.5em;
		}

			#header > .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			#header > .navPanelToggle:before {
				content: '\f0c9';
				line-height: inherit;
				margin: 0 0.5em 0 0;
			}

		#header.alt {
			background-color: transparent;
			padding: 2em 2.5em;
		}

			#header.alt > nav {
				margin-right: 0;
			}

			#header.alt > .navPanelToggle {
				margin-right: -1em;
			}

		@media screen and (max-width: 1280px) {

			#header > .logo > a {
				font-size: 1.25em;
			}

			#header > .logo > span {
				margin-left: 1.25em;
				padding-left: 1.25em;
			}

		}

		@media screen and (max-width: 980px) {

			#header {
				padding: 0.75em 1.25em;
			}

				#header > nav {
					display: none;
				}

				#header > .navPanelToggle {
					display: block;
				}

				#header.alt {
					padding: 2em 2em;
				}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 0.5em 0.825em;
			}

				#header > .logo > a {
					font-size: 1em;
				}

				#header > .logo > span {
					display: none;
				}

				#header > .navPanelToggle {
					height: 2.5em;
					line-height: 2.5em;
					padding: 0 1em;
				}

				#header.alt {
					padding: 1.5em 1.5em;
				}

		}

/* Nav Panel */

	#navPanel {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #3b3b3b;
		box-shadow: none;
		color: rgba(255, 255, 255, 0.75);
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#navPanel.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel nav {
			padding: 3em 2em;
		}

		#navPanel .link {
			-moz-transition: color 0.2s;
			-webkit-transition: color 0.2s;
			-ms-transition: color 0.2s;
			transition: color 0.2s;
			border-top: solid 1px rgba(255, 255, 255, 0.15);
			color: inherit !important;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #ffffff !important;
				font-weight: 400;
			}

			#navPanel .link:active, #navPanel .link:focus, #navPanel .link:hover {
				color: #075F65 !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			border: 0;
			color: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			#navPanel .close:before {
				content: '\f00d';
				font-size: 1.25em;
			}

			#navPanel .close:hover {
				color: #ffffff;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		@media screen and (max-width: 736px) {

			#navPanel nav {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	#banner {
		background-color: #075F65;
		color: rgba(255, 255, 255, 0.75);
		padding: 10em 0 6em 0 ;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-attachment: fixed;
		background-image: url("../../images/pic01.jpg");
		background-position: bottom left;
		background-size: cover;
		border-top: solid 10px #075F65;
		min-height: 75vh;
		position: relative;
		text-align: center;
		width: 100%;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #ffffff;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].icon:before,
			#banner input[type="reset"].icon:before,
			#banner input[type="button"].icon:before,
			#banner button.icon:before,
			#banner .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#banner input[type="submit"].primary,
			#banner input[type="reset"].primary,
			#banner input[type="button"].primary,
			#banner button.primary,
			#banner .button.primary {
				box-shadow: none;
				background-color: #ffffff;
				color: #075F65 !important;
			}

				#banner input[type="submit"].primary.icon:before,
				#banner input[type="reset"].primary.icon:before,
				#banner input[type="button"].primary.icon:before,
				#banner button.primary.icon:before,
				#banner .button.primary.icon:before {
					color: #075F65 !important;
				}

		#banner > .inner {
			-moz-transition: -moz-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			-webkit-transition: -webkit-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			-ms-transition: -ms-transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
			position: relative;
			width: 45em;
			max-width: calc(100% - 6em);
			z-index: 1;
		}

		#banner .icon {
			display: inline-block;
			background-color: white;
			border-radius: 100%;
			color: #075F65;
			font-size: 3em;
			height: 2.15em;
			line-height: 2.10em;
			margin-bottom: 0.75em;
			width: 2.15em;
		}

		#banner h1 {
			margin-bottom: 0.825em;
		}

		#banner p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
		}

		#banner .actions {
			padding-top: 3.5em;
		}

		#banner:before {
			-moz-transition: opacity 1s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out;
			-ms-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			content: '';
			display: block;
			background: #202020;
			height: 100%;
			left: 0;
			opacity: 0.25;
			position: absolute;
			top: 0;
			width: 100%;
		}

		body.is-preload #banner > .inner {
			-moz-transform: translateY(0.75em);
			-webkit-transform: translateY(0.75em);
			-ms-transform: translateY(0.75em);
			transform: translateY(0.75em);
			opacity: 0;
		}

		body.is-preload #banner:before {
			opacity: 1;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				min-height: 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 6em 0 3em 0 ;
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 10em 0 6em 0 ;
			}

				#banner .icon {
					margin-bottom: 0.5em;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 0 2em 0 ;
			}

				#banner > .inner {
					max-width: calc(100% - 3em);
				}

				#banner .icon {
					font-size: 3.25em;
				}

				#banner .actions {
					padding-top: 2em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 0 1em 0 ;
			}

		}

/* Main */

	#main {
		padding: 10em 0 4em 0;
	}

		@media screen and (max-width: 1280px) {

			#main {
				padding: 8em 0 3em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 6em 0 2em 0;
			}

		}

/* Footer */

	#footer {
		background-color: #075F65;
		color: rgba(255, 255, 255, 0.75);
		padding: 7.5em 0 5.5em 0 ;
		background-color: #075F65;
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #ffffff;
		}

		#footer blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#footer code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer .box {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#footer input[type="submit"].icon:before,
			#footer input[type="reset"].icon:before,
			#footer input[type="button"].icon:before,
			#footer button.icon:before,
			#footer .button.icon:before {
				color: rgba(255, 255, 255, 0.5);
			}

			#footer input[type="submit"].primary,
			#footer input[type="reset"].primary,
			#footer input[type="button"].primary,
			#footer button.primary,
			#footer .button.primary {
				box-shadow: none;
				background-color: #ffffff;
				color: #075F65 !important;
			}

				#footer input[type="submit"].primary.icon:before,
				#footer input[type="reset"].primary.icon:before,
				#footer input[type="button"].primary.icon:before,
				#footer button.primary.icon:before,
				#footer .button.primary.icon:before {
					color: #075F65 !important;
				}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background-color: transparent;
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
		}

			#footer select option {
				color: #ffffff;
				background: #075F65;
			}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #075F65;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer :-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer .formerize-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#footer ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer ul.icons-bordered .icon {
			border-color: rgba(255, 255, 255, 0.75);
		}

			#footer ul.icons-bordered .icon:hover {
				background-color: rgba(255, 255, 255, 0.075);
			}

			#footer ul.icons-bordered .icon:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

		#footer ul.contact-icons li:before {
			color: #ffffff;
		}

		#footer header p {
			color: rgba(255, 255, 255, 0.5);
		}

		#footer table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#footer table th {
			color: #ffffff;
		}

		#footer table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer .features > article {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer .features > article:before, #footer .features > article h3 {
				color: #ffffff;
			}

		#footer .stats > article {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer .tabs .titles li {
			border-color: rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			#footer .tabs .titles li.active {
				background-color: #075F65;
				border-bottom-color: #075F65;
				color: #ffffff;
			}

		#footer .tabs .panels {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer .progress {
			border-color: rgba(255, 255, 255, 0.25);
			color: #ffffff;
		}

			#footer .progress:before {
				background-color: currentColor;
			}

		#footer > .inner {
			margin: 0 auto;
			width: 80em;
			max-width: calc(100% - 6em);
		}

		#footer .copyright {
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			font-size: 0.9em;
			margin-top: 4em;
			padding-top: 4em;
			text-align: center;
			width: 100%;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 5em 0 3em 0 ;
			}

				#footer .contact {
					margin-right: 1.5em;
				}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0 ;
			}

				#footer > .inner {
					max-width: calc(100% - 3em);
				}

				#footer .copyright {
					margin-top: 2em;
					padding-top: 2em;
				}

		}